/* Estilo do body */
body {
    width: 100%;
    height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0;
    padding: 0;
    background-image: url("assets/fundo_bandeira.jpg");
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    color: white;
    display: flex; /* Ativa flexbox */
    flex-direction: column; /* Layout vertical */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    box-sizing: border-box; /* Inclui padding e border no tamanho total dos elementos */
}

/* Elementos filhos no body */
body h1, body h3, body p, body img, body a {
    margin: 10px 0; /* Espaçamento entre os itens */
}

body a {
    font-size: 0.8rem;
    color: white;
    margin-bottom: 65px;
    bottom: 20px; /* Distância do botão da parte inferior da tela */
    left: 50%; /* Centraliza horizontalmente */
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
    cursor: pointer;
}

a:hover {
    transform: scale(1.05) translateX(-50%); /* Aumenta o tamanho e mantém o botão centralizado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.jogador-stats {
    margin: 5px 0; 
    border: 2px solid white;
    padding: 5px;
}

/* Responsividade para telas maiores */
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Mantém o layout vertical */
        justify-content: center; /* Centraliza o conteúdo verticalmente */
        align-items: center; /* Centraliza o conteúdo horizontalmente */
        gap: 30px;
    }

    body h1 {
        font-size: 2.5rem; /* Aumenta o tamanho da fonte em telas maiores */
    }
    body a{
        font-size: 1.6rem;
    }

    .jogador-imagem {
        max-width: 300px; /* Limita o tamanho da imagem */
        border-radius: 10px;
    }

    .jogador-stats {
        margin: 5px 0; /* Espaçamento entre estatísticas */
    }
}
